<md-dialog>
  <md-dialog-content>
  	<div layout="column" layout-sm="column" style="max-width: 600px;" layout-padding>
  	  <form novalidate  name="newResourceForm" ng-submit="newResourceForm.$valid && createResource(newResource,manualPassword,confirmPassword)">
  	  <md-input-container flex>
  	    <label>First name</label>
  	    <input ng-model="newResource.firstName" name="firstname" required>
  	    <div ng-messages="newResourceForm.firstname.$error">
  	      <div ng-message="required">This is required.</div>
  	    </div>
  	  </md-input-container>
  	  <md-input-container flex>
  	    <label>Last Name</label>
  	    <input ng-model="newResource.lastName" name="lastname" required>
  	    <div ng-messages="newResourceForm.lastname.$error">
  	      <div ng-message="required">This is required.</div>
  	    </div>
  	  </md-input-container>
  	  <md-input-container flex>
  	    <label>Email</label>
  	    <input ng-model="newResource.email" type="email" name="email" required>
  	    <div ng-messages="newResourceForm.email.$error">
  	      <div ng-message="required">This is required.</div>
  	    </div>
  	  </md-input-container>
  	  <md-input-container flex>
  	    <label>Mobile</label>
  	    <input ng-model="newResource.mobile" name="mobile" required>
  	    <div ng-messages="newResourceForm.mobile.$error">
  	      <div ng-message="required">This is required.</div>
  	    </div>
  	  </md-input-container>
  	  <div layout="col">
  	    <md-select placeholder="Location" ng-model="newResource.types" flex required name="worktypes">
  	       <md-option value="Mumbai">Mumbai</md-option>
  	       <md-option value="New Delhi">New Delhi</md-option>
  	       <md-option value="Chennai">Chennai</md-option>
  	    </md-select>
  	    <div class="errors" ng-messages="newResourceForm.worktypes.$error" ng-if="newResourceForm.$dirty">
  	      <div ng-message="required">This is required.</div>
  	    </div>
  	  </div>
  	  <div layout="col">
  	    <md-select placeholder="Cohort" ng-model="newResource.types" flex required name="worktypes">
  	       <md-option value="Officer">Officer</md-option>
  	       <md-option value="Principal">Principal</md-option>
  	       <md-option value="Project Leader">Project Leader</md-option>
  	       <md-option value="Consultant">Consultant</md-option>
  	       <md-option value="Associate">Associate</md-option>
  	       <md-option value="Senior Associate">Senior Associate</md-option>
  	       <md-option value="Intern">Intern</md-option>
  	       <md-option value="Summer Intern">Summer Intern</md-option>
  	       <md-option value="BST">BST</md-option>
  	       <md-option value="KT">KT</md-option>
  	       <md-option value="Others">Others</md-option>
  	    </md-select>
  	    <div class="errors" ng-messages="newResourceForm.worktypes.$error" ng-if="newResourceForm.$dirty">
  	      <div ng-message="required">This is required.</div>
  	    </div>
  	  </div>
  	 
  	  <div flex layout="row">
  	    <span flex></span>
  	    <md-button md-no-ink class="md-warn">Reset form</md-button>
  	    <md-button md-no-ink class="md-primary" type="submit">Create Resource</md-button>
  	  </div>
  	  </form>
  	</div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button class="md-primary" flex ng-click="confirmUser()">
      Confirm User
    </md-button>
  </div>
</md-dialog>