<md-dialog style="max-height:90%; height: 90%">
  <md-dialog-content style="height:100%;">
    <md-tabs md-selected="data.step" style="height:100%;" md-dynamic-height>
      <md-tab label="Details">
        <md-content>
          <div layout="column" style="width: 600px" layout-padding>
            <md-input-container>
              <label>Date</label>
              <input ng-model="data.date" type="date">
            </md-input-container>
            <div layout="column">
              <label class="dashboard-label" ng-if="data.workType">Work Type</label>
              <md-select ng-model="data.workType">
                <md-select-label>{{ data.workType? data.workType: 'Select Work Type' }}</md-select-label>
                  <md-option ng-value="type.type" ng-repeat="type in localData.workTypes">{{type.type}}</md-option>
              </md-select>
            </div>
            <md-input-container>
              <label>Start Time (eg: 10:00 am)</label>
              <input ng-model="data.startTime" type="time">
            </md-input-container>
            <md-input-container>
              <label>End Time (eg: 11:00 am)</label>
              <input ng-model="data.endTime" type="time">
            </md-input-container>
            <div layout="column">
              <md-autocomplete flex
                  md-no-cache="false"
                  md-selected-item="data.employee"
                  md-search-text="employeeSearchText"
                  md-items="employee in employeesearch(employeeSearchText)"
                  md-item-text="employee.firstName+' '+employee.lastName"
                  md-floating-label="Employee">
                <span md-highlight-text="employeeSearchText">{{employee.firstName+' '+employee.lastName}}</span>
              </md-autocomplete>
            </div>
            <div layout="column">
              <md-autocomplete flex
                  md-no-cache="false"
                  md-selected-item="data.resource"
                  md-search-text="resourceSearchText"
                  md-items="resource in resourcesearch(resourceSearchText)"
                  md-item-text="resource.firstName+' '+resource.lastName"
                  md-floating-label="Resource">
                <span md-highlight-text="resourceSearchText">{{resource.firstName+' '+resource.lastName}}</span>
              </md-autocomplete>
            </div>
            <div layout="column">
              <md-input-container>
                <label>Casecode</label>
                <input ng-model="data.casecode" type="text">
              </md-input-container>
            </div>
            <div layout="column">
              <md-input-container>
                <label>Notes</label>
                <input ng-model="data.notes" type="text">
              </md-input-container>
            </div>
             <md-button class="md-raised md-primary" flex ng-click="confirmBooking(data,employeeSearchText)" style="margin-top: 26px;">{{mode}} Booking</md-button>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
</md-dialog>