<md-dialog>
  <md-dialog-content>
    <md-card>
      <md-card-content>
        <div layout>
            <span flex></span>
            <ng-md-icon icon="close" style="fill: green" size="40" ng-click="closeDetails()"></ng-md-icon> 
        </div>
        <h2 class="md-title">{{event.start | date}}</h2>
        <md-divider></md-divider>
        <p layout>
            <span class="md-body-2">Slot:</span>
            <span flex></span>
            <span class="md-body-1">{{event.start | date:'shortTime'}} - {{event.end | date:'shortTime'}}</span>
        </p>
        <md-divider></md-divider>
        <p layout>
            <span class="md-body-2">Employee:</span>
            <span flex></span>
            <span class="md-body-1" style="text-transform: capitalize">{{findEmployee(event.details.employeeID)}}</span>
        </p>
        <md-divider></md-divider>
        <p layout>
          <span class="md-body-2">Resource:</span>
          <span flex></span>
          <span class="md-body-1">{{event.resourceData.firstName}} {{event.resourceData.lastName}}</span>
        </p>
        <md-divider></md-divider>
        <p layout>
          <span class="md-body-2">Work Type:</span>
          <span flex></span>
          <span class="md-body-1">{{event.details.type}}</span>
        </p>
        <md-divider></md-divider>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-warn" ng-click="cancel(event)">Delete</md-button>
        <md-button class="md-primary" ng-click="modify(event)">Modify</md-button>
        <md-button class="md-secondary">Reallocate</md-button>
      </div>
    </md-card>
  </md-dialog-content>
</md-dialog>