<md-dialog>
  <md-dialog-content>
    <div layout-padding layout-margin>
      <md-list>
        <md-subheader class="md-no-sticky">Utilization</md-subheader>
        <md-divider></md-divider>
        <md-list-item layout="row" >
            <p >Did not utilize</p>
            <span flex></span>
            <md-checkbox class="md-secondary" ng-model="data.didNotUtilize" ></md-checkbox>
        </md-list-item>
        <md-list-item layout="row" >
            <p >Canceled</p>
            <span flex></span>
            <md-checkbox class="md-secondary" ng-model="data.canceled" ></md-checkbox>
        </md-list-item>
        <md-list-item layout="row" >
            <p >Pre Booked / Last Minute</p>
            <span flex></span>
            <md-checkbox class="md-secondary" ng-model="data.prebooked" ></md-checkbox>
        </md-list-item>
        <md-subheader class="md-no-sticky">Work Type</md-subheader>
        <md-divider></md-divider>
        <md-list-item layout="row" >
            <p>Random Work</p>
            <span flex></span>
            <md-checkbox class="md-secondary" ng-model="data.random"></md-checkbox>
        </md-list-item>
        <md-list-item layout="row" >
            <p >Critical Work</p>
            <span flex></span>
            <md-checkbox class="md-secondary" ng-model="data.critical" ></md-checkbox>
        </md-list-item>
        <md-list-item layout="row" >
            <p >Extended OT Support</p>
            <span flex></span>
            <md-checkbox class="md-secondary" ng-model="data.ot" ></md-checkbox>
        </md-list-item>
      </md-list>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button class="md-primary" flex ng-click="finishItUp($event)">
      Finish Booking
    </md-button>
  </div>
</md-dialog>