<md-sidenav md-component-id="left" class="md-sidenav-left md-secondary">
     <md-toolbar class="md-theme-light">
       <h1 class="md-toolbar-tools">Navigation</h1>
     </md-toolbar>
     <md-content layout-padding layout-margin>
        <md-list layout="column" layout-fill>
         <md-list-item layout="row" layout-padding ng-if="localUser.roles.employee">
           <md-button class="md-primary" flex ui-sref="dashboard">Dashboard</md-button>
         </md-list-item>
         <md-list-item layout="row" layout-padding ng-if="localUser.roles.resource">
           <md-button class="md-primary" flex ui-sref="resourcedashboard">Dashboard</md-button>
         </md-list-item>
         <md-divider></md-divider>
         <md-list-item layout="row" layout-padding ng-if="!localUser.userData.isAdmin">
           <md-button class="md-primary" flex ui-sref="calendars">Calendars</md-button>
         </md-list-item>
         <md-divider></md-divider>
         <md-list-item layout="row" layout-padding ng-if="localUser.userData.isAdmin">
           <md-button ui-sref="bookings" class="md-primary" flex>Bookings</md-button>
         </md-list-item>
         <md-divider></md-divider>
          <md-list-item layout="row" layout-padding ng-if="localUser.userData.isAdmin">
            <md-button ui-sref="resource" class="md-primary" flex>Resources</md-button>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item layout="row" layout-padding ng-if="localUser.userData.isAdmin">
           <md-button ui-sref="employee" class="md-primary" flex>Employees</md-button>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item layout="row" layout-padding ng-if="localUser.userData.isAdmin">
            <md-button ui-sref="settings" class="md-primary" flex>Settings</md-button>
          </md-list-item>
        </md-list>
     </md-content>
  </md-sidenav>