.resource-selector {
	text-align: left;
	padding-left: 16px;
}
.holiday-row {
	background: rgba(0,0,0,0.12);
	text-align: center;
	text-transform: uppercase;
}
.shift-table-header {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .005em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	color: white;
	background: #006747;
	text-align: center;
	md-checkbox {
		margin: 5px;
		.md-icon {
			background: white;
		}
	}
	&.leaves {
		padding: 10px;
	}
	&.resources {
		padding: 0 10px;
	}
	.type-head {
		font-size: 12px;
	}
}
.edit-item.resources {
	padding: 0 10px;
	.type-mark {
		display: inline-block;
		background: #EB9739;
		border-radius: 100%;
		padding: 3px;
		width: 30px;
		height: 30px;
		text-align: center;
		font-size: 14px;
		line-height: 30px;
	}
}
.filter-header {
	md-select {
		margin-top: 0;
	}
	background: rgba(0,0,0,0.12);
	padding: 0px;
	.calendar-pick {
		margin-top: 0;
	}
}
.shift-cells {
	padding: 5px 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	md-checkbox {
		margin: 5px;
	}
	&.leaves {
		padding: 5px;
	}
	button {
		padding-top: 0;
		padding-bottom: 0;
	}
	.table-cell {
		text-align: center;
	}
}
.details-box {
	margin-top: 5px;
	border: 1px solid rgba(0,0,0,0.12);
	.header {
		background: rgba(0,0,0,0.12);
		padding: 10px;
		md-input-container {
			padding-bottom: 0;
		}
	}
}