<div layout="column" class="app-scope">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content>
    <md-tabs md-selected="data.step" md-dynamic-height>
      <md-tab label="Resources">
        <md-content layout-padding style="height: 89%; overflow: scroll">
          <div class="details-box">
            <div layout="row" layout-align="center center" class="shift-table-header resources">
               <div flex="15" ng-click="setOrderParam('firstName')">
                  Name
                  <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='firstName'"></ng-md-icon>
                  <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-firstName'"></ng-md-icon>
               </div>
               <div flex="15" ng-click="setOrderParam('email')">
                   Email
                   <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='email'"></ng-md-icon>
                   <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-email'"></ng-md-icon>
                </div>
                 <div flex="15" ng-click="setOrderParam('mobile')" style="text-align: center">
                   Mobile
                   <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                   <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                </div>
               <div flex="5" ng-repeat="type in localData.workTypes" class="type-head">
                  {{type.type}}
               </div>
               <span flex></span>
               <div layout-margin>
                  <input ng-model="resourceSearch" placeholder="Search resources"/>
               </div>
            </div>
            <div layout="row" ng-repeat="resource in localData.resources | filter:resourceSearch | orderBy:orderParam" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12)" class="edit-item resources">
               <div flex="15">{{resource.firstName}} {{resource.lastName}}</div>
               <div flex="15">{{resource.email}}</div>
               <div flex="15" style="text-align: center">{{resource.mobile}}</div>
               <div flex="5" ng-repeat="type in localData.workTypes" class="type-head">
                   <div ng-repeat="resourcetype in resource.types">
                      <span ng-if="resourcetype.type==type.type" class="type-mark">{{type.type | limitTo:2}}</span>
                   </div>
                </div>
               <span flex></span>
               <div>
                  <md-button class="md-icon-button" aria-label="Use Android" ng-click="edit(resource)">
                    <ng-md-icon icon="mode_edit" style="fill: #0288D1" size="14"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Use Android" ng-click="delete(resource)">
                    <ng-md-icon icon="delete" style="fill: #BF3C3C" size="14"></ng-md-icon>
                  </md-button>
               </div>
               <md-divider></md-divider>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="{{data.mode}} resource">
        <div layout="column" layout-sm="column" style="max-width: 600px;" layout-padding layout-margin class="details-box">
          <form novalidate  name="newResourceForm" ng-submit="newResourceForm.$valid && createResource(newResource,manualPassword,confirmPassword)">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="newResource.firstName" name="firstname" required>
            <div ng-messages="newResourceForm.firstname.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="newResource.lastName" name="lastname" required>
            <div ng-messages="newResourceForm.lastname.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="newResource.email" type="email" name="email" required>
            <div ng-messages="newResourceForm.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Mobile</label>
            <input ng-model="newResource.mobile" name="mobile" required>
            <div ng-messages="newResourceForm.mobile.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="row">
            <md-select placeholder="Location" ng-model="newResource.location" flex required name="location">
               <md-option value="Mumbai">Mumbai</md-option>
               <md-option value="New Delhi">New Delhi</md-option>
               <md-option value="Chennai">Chennai</md-option>
            </md-select>
            <div class="errors" ng-messages="newResource.location.$error" ng-if="newResourceForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <div layout="row">
            <md-select placeholder="Work Types (select multiple)" ng-model="newResource.types" flex multiple="true" required name="worktypes">
              <md-select-label>{{newResource.types?toList(newResource.types):'Work Types (select multiple)'}}</md-select-label>
               <md-option ng-value="type" ng-repeat="type in localData.workTypes | orderBy:'seq'">{{type.type}}</md-option>
            </md-select>
            <div class="errors" ng-messages="newResourceForm.worktypes.$error" ng-if="newResourceForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <md-switch ng-model="newResource.isAdmin" aria-label="Switch 1">
              Grant Admin rights
          </md-switch>
          <md-switch ng-model="manualPassword" aria-label="Switch 1">
              Manually enter password<br>(otherwise a generated password will be sent to the user)
          </md-switch>
          <md-input-container flex ng-show="manualPassword">
            <label>Password</label>
            <input ng-model="newResource.password" type="password">
          </md-input-container>
          <md-input-container flex ng-show="manualPassword">
            <label>Confirm Password</label>
            <input ng-model="confirmPassword" type="password">
          </md-input-container>
          <div flex layout="row">
            <span flex></span>
            <md-button md-no-ink class="md-warn">Cancel</md-button>
            <md-button md-no-ink class="md-primary" type="submit">{{data.mode}} Resource</md-button>
          </div>
          </form>
        </div>
      </md-tab>
      <md-tab label="Configure Shifts">
        <md-content class="padding">
          <div layout="row" layout-align="start start" layout-margin>
            <div flex="20" layout="column" class="details-box">
                <div layout="row" layout-align="center center" class="filter-header">
                  <calendar flex selecteddate="data.date" monthchanged="selectMonth(month)" disabledayselect="true"></calendar>
                  <!-- <md-select ng-model="data.month" placeholder="Select Month" ng-init="data.month=localData.shiftMonths[0]" class="low-bot" flex ng-change="selectMonth(data.month)">
                    <md-option ng-value="month" ng-repeat="month in localData.shiftMonths">{{month.name}}</md-option>
                  </md-select> -->
                </div>
                <section>
                  <md-subheader>Select resource to view shifts</md-subheader>
                </section>
                <md-button 
                  ng-repeat="(index,resource) in localData.resources" 
                  class="resource-selector"
                  ng-class="{'md-primary':data.selectedResource==index}"
                  ng-click="selectResource(index,resource)">
                  {{resource.firstName}}  {{resource.lastName}}
                </md-button>
            </div>
            <div flex="75" class="details-box">
                <div flex layout="row" layout-align="start center" class="header">
                  <input ng-model="data.search" placeholder="Search">
                  <span flex="20"></span>
                  <md-button class="md-primary md-raised" aria-label="Add" ng-click="data.addingShift = true">
                    Add new shift
                  </md-button>
                </div>
                <div flex ng-show="data.addingShift">
                  <div layout="row">
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Close">
                      <ng-md-icon icon="close" style="fill: black" size="14" ng-click="data.addingShift = undefined"></ng-md-icon>
                    </md-button>
                  </div>
                  <shift-form resource="localData.resources[data.selectedResource].id" edits="data.editData"></shift-form>
                </div>
                <div flex layout="column">
                    <div flex layout="row" layout-align="center center" ng-if="shifts.length" class="shift-table-header">
                      <div>
                        <md-checkbox ng-model="allselect" aria-label="Select all" ng-change="selectAll(allselect)"></md-checkbox>
                      </div>
                      <div flex ng-click="setOrderParam('start')">
                        Day
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('comein')">
                        Start
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='comein'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-comein'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('goout')">
                        End
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='goout'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-goout'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('break1')">
                        Break 1
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='break1'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-break1'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('break2')">
                        Break 2
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='break2'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-break2'"></ng-md-icon>
                      </div>
                      <div flex>Resource</div>
                      <span flex></span>
                      <div class="control-buttons">
                        <md-button class="md-icon-button" aria-label="Eat cake">
                            <ng-md-icon icon="mode_edit" style="fill: white" size="14" ng-click="batchEdit()"></ng-md-icon>
                            <md-tooltip>
                              Batch Edit
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Eat cake">
                            <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="batchDelete()"></ng-md-icon>
                            <md-tooltip>
                              Batch Delete
                            </md-tooltip>
                        </md-button>
                      </div>
                    </div>
                    <div flex layout="row" ng-repeat="(index,shift) in shifts | filter:data.search | orderBy:orderParam" class="shift-cells edit-item" layout-align="center center">
                      <div flex ng-if="!shift.holiday && !shift.leaves.length" layout="row" layout-align="center center">
                        <div>
                          <md-checkbox ng-model="shift.selected" aria-label="Select shift"></md-checkbox>
                        </div>
                        <div class="table-cell" flex>{{shift.start | date:'EEE, dd/MMM/yyyy'}}</div>
                        <div class="table-cell" flex ng-if="data.edit!=index">{{shift.startTime | arrayToTime}}</div>
                        <div class="table-cell" flex ng-if="data.edit==index">
                          <md-select ng-model="data.newStartTime" class="low-bot" ng-init="data.newStartTime=shift.startTime.label">
                            <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
                          </md-select>
                        </div>
                        <div class="table-cell" flex ng-if="data.edit!=index">{{shift.endTime | arrayToTime}}</div>
                         <div class="table-cell" flex ng-if="data.edit==index">
                          <md-select ng-model="data.newEndTime" class="low-bot" ng-init="data.newEndTime=shift.endTime.label">
                            <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
                          </md-select>
                        </div>
                        <div class="table-cell" flex ng-if="data.edit!=index">{{shift.breaks[0] | arrayToTime}}</div>
                         <div class="table-cell" flex ng-if="data.edit==index">
                          <md-select ng-model="data.newBreak1" class="low-bot" ng-init="data.newBreak1=shift.breaks[0].label">
                            <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
                          </md-select>
                        </div>
                        <div class="table-cell" flex ng-if="data.edit!=index">{{shift.breaks[1] | arrayToTime}}</div>
                         <div class="table-cell" flex ng-if="data.edit==index">
                          <md-select ng-model="data.newBreak2" class="low-bot" ng-init="data.newBreak2=shift.breaks[1].label">
                            <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
                          </md-select>
                        </div>
                        <div flex class="table-cell">{{localData.resources[data.selectedResource].firstName}} {{localData.resources[data.selectedResource].lastName}}</div>
                        <span flex></span>
                        <div class="control-buttons">
                          <md-button class="md-icon-button" aria-label="Edit" ng-show="data.edit!=index">
                            <ng-md-icon icon="mode_edit" style="fill: #0288D1" size="14" ng-click="data.edit=index"></ng-md-icon>
                            <md-tooltip>
                              Edit Shift
                            </md-tooltip>
                          </md-button>
                          <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.edit==index">
                            <ng-md-icon icon="undo" style="fill: grey" size="14" ng-click="data.edit=null"></ng-md-icon>
                            <md-tooltip>
                              Cancel Edit
                            </md-tooltip>
                          </md-button>
                          <md-button class="md-icon-button" aria-label="Save" ng-show="data.edit==index">
                            <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveDayShift(data,shift)"></ng-md-icon>
                            <md-tooltip>
                              Save Edit
                            </md-tooltip>
                          </md-button>
                          <md-button class="md-icon-button" aria-label="Delete" ng-show="data.edit!=index">
                            <ng-md-icon icon="delete" style="fill: #BF3C3C" size="14" ng-click="deleteDayShift(shift)"></ng-md-icon>
                            <md-tooltip>
                              Delete Shift
                            </md-tooltip>
                          </md-button>
                        </div>
                      </div>
                      <div flex ng-if="shift.holiday" layout="row" layout-align="center center" class="holiday-row">
                        <div class="table-cell" flex>{{shift.start | date:'EEE, dd/MMM/yyyy'}}  {{shift.holiday.description}}</div>
                      </div>
                      <div flex ng-if="shift.leaves.length" layout="row" layout-align="center center" class="holiday-row">
                        <div class="table-cell" flex>{{shift.leaves[0].start | date:'EEE, dd/MMM/yyyy'}} On Leave: {{shift.leaves[0].type}}</div>
                      </div>
                    </div>
                    <div flex layout-padding layout-margin ng-if="!shifts.length && data.selectedResource" layout-align="center center" layout="column">
                      <div flex>No shifts configured for {{localData.resources[data.selectedResource].firstName}} in {{data.month.name}}</div>
                    </div>
                    <div flex layout-padding layout-margin ng-if="data.showblank" layout-align="center center" layout="column">
                      <div flex>Please select a resource and month on the left to view shifts.</div>
                    </div>
                </div>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Configure Leaves">
        <md-content class="padding">
          <div layout="row" layout-align="start start" layout-margin>
            <div flex="20" layout="column" class="details-box">
                <div class="filter-header">Add a new leave</div>
                <div flex layout-padding>
                  <div layout="column">
                    <label class="dashboard-label">Resource</label>
                    <md-select ng-model="data.resource" aria-label="Select resource">
                        <md-select-label>{{data.resource?data.resource.firstName+' '+data.resource.lastName:'Select Resource'}}</md-select-label>
                        <md-option ng-value="resource" ng-repeat="resource in localData.resources">{{resource.firstName}}  {{resource.lastName}}</md-option>
                    </md-select>
                  </div>
                  <md-input-container>
                    <label>Start Date</label>
                    <input ng-model="data.start" type="date">
                  </md-input-container>
                   <md-input-container>
                    <label>End Date</label>
                    <input ng-model="data.end" type="date">
                  </md-input-container>
                  <div layout="column">
                    <label class="dashboard-label">Leave Type</label>
                    <md-select ng-model="data.leaveType">
                      <md-select-label>{{data.leaveType?data.leaveType.type:'Select Leave Type'}}</md-select-label>
                        <md-option ng-value="type" ng-repeat="type in localData.leaveTypes | orderBy:'seq'">{{type.type}}</md-option>
                    </md-select>
                  </div>
                  <div layout="column" ng-show="data.leaveType.isHalf">
                    <label class="dashboard-label">Select half</label>
                    <md-select ng-model="data.half">
                      <md-select-label>{{data.half?(data.half==1?'1st Half':'2nd Half'):'Select half'}}</md-select-label>
                        <md-option value="1">1st Half</md-option>
                        <md-option value="2">2nd Half</md-option>
                    </md-select>
                  </div>
                  <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary" ng-click="addLeave()">Add leave</md-button>
                  </div>
                </div>
            </div>
            <div flex="75" class="details-box">
                <div flex layout="row" layout-align="start center" class="header">
                  <input ng-model="data.search" placeholder="Search">
                  <span flex="20"></span>
                 
                </div>
                <div flex ng-show="data.addingLeave">
                  <div layout="row">
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Close">
                      <ng-md-icon icon="close" style="fill: black" size="14" ng-click="data.addingLeave = undefined"></ng-md-icon>
                    </md-button>
                  </div>
                </div>
                <div flex layout="column">
                    <div flex layout="row" layout-align="center center" ng-if="localData.leaves.length" class="shift-table-header leaves">
                      <div flex ng-click="setOrderParam('resourceName')">
                        Resource
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='resourceName'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-resourceName'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('start')">
                        From date
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('end')">
                        To date
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='end'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-end'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('type')">
                        Type
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='type'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-type'"></ng-md-icon>
                      </div>
                      <div flex ng-click="setOrderParam('duration')">
                        Duration
                        <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='duration'"></ng-md-icon>
                        <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-duration'"></ng-md-icon>
                      </div>
                      <span flex></span>
                      <div style="opacity:0" class="control-buttons">
                        <md-button class="md-icon-button" aria-label="Edit" ng-show="data.leaveedit!=index">
                          <ng-md-icon icon="mode_edit" style="fill: green" size="14" ng-click="editLeave(index,leave)"></ng-md-icon>
                          <md-tooltip>
                            Edit Leave
                          </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.leaveedit==index">
                          <ng-md-icon icon="undo" style="fill: grey" size="14" ng-click="data.leaveedit=null"></ng-md-icon>
                          <md-tooltip>
                            Cancel Edit
                          </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Save" ng-show="data.leaveedit==index">
                          <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveLeave(leave)"></ng-md-icon>
                          <md-tooltip>
                            Save Edit
                          </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Delete" ng-show="data.leaveedit!=index">
                          <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="deleteLeave(leave)"></ng-md-icon>
                          <md-tooltip>
                            Delete Leave
                          </md-tooltip>
                        </md-button>
                      </div>
                    </div>
                    <div flex layout="row" ng-repeat="(index,leave) in localData.leaves | filter:data.search | orderBy:orderParam" class="shift-cells leaves" layout-align="center center">
                      <div class="table-cell" flex>{{leave.resourceName}}</div>
                      <div class="table-cell" flex ng-if="data.leaveedit!=index">{{leave.start | date:'EEE, dd/MMM/yyyy'}}</div>
                      <md-input-container ng-if="data.leaveedit==index" flex>
                        <label>From Date</label>
                        <input ng-model="data.leavestart" type="date">
                      </md-input-container>
                      <div class="table-cell" flex ng-if="data.leaveedit!=index">{{leave.end | date:'EEE, dd/MMM/yyyy'}}</div>
                      <md-input-container ng-if="data.leaveedit==index" flex>
                        <label>To Date</label>
                        <input ng-model="data.leaveend" type="date">
                      </md-input-container>
                      <div class="table-cell" flex ng-if="data.leaveedit!=index">{{leave.type}}</div>
                      <div layout="column" ng-if="data.leaveedit==index" flex>
                        <label class="dashboard-label">Leave Type</label>
                        <md-select ng-model="data.leavetype" ng-init="data.leavetype=leave.type">
                          <md-select-label>{{data.leavetype?data.leavetype:'Select Leave Type'}}</md-select-label>
                            <md-option ng-value="type.type" ng-repeat="type in localData.leaveTypes | orderBy:'seq'">{{type.type}}</md-option>
                        </md-select>
                      </div>
                      <div class="table-cell" flex>{{leave.duration}}</div>
                      <span flex></span>
                      <div class="control-buttons">
                        <md-button class="md-icon-button" aria-label="Edit" ng-show="data.leaveedit!=index">
                          <ng-md-icon icon="mode_edit" style="fill: green" size="14" ng-click="editLeave(index,leave)"></ng-md-icon>
                          <md-tooltip>
                            Edit Leave
                          </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.leaveedit==index">
                          <ng-md-icon icon="undo" style="fill: grey" size="14" ng-click="data.leaveedit=null"></ng-md-icon>
                          <md-tooltip>
                            Cancel Edit
                          </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Save" ng-show="data.leaveedit==index">
                          <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveLeave(leave)"></ng-md-icon>
                          <md-tooltip>
                            Save Edit
                          </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Delete" ng-show="data.leaveedit!=index">
                          <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="deleteLeave(leave)"></ng-md-icon>
                          <md-tooltip>
                            Delete Leave
                          </md-tooltip>
                        </md-button>
                      </div>
                    </div>
                    <div flex layout-padding layout-margin ng-if="!localData.leaves.length" layout-align="center center" layout="column">
                      <div flex>No Leaves for this period</div>
                    </div>
                </div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>