<md-content class="shift-form">
    <md-tabs md-border-bottom md-selected="data.step" md-dynamic-height>
      <md-tab label="one" disabled="data.step!=0">
        <md-content layout="column">
          <div layout="row" layout-margin layout-align="center center">
            <div flex="25">
              <div class="md-display-5">Select a resource</div>
              <md-select ng-model="newShift.resourceID" aria-label="Select resource">
                  <md-option ng-value="resource.id" ng-repeat="resource in localData.resources">{{resource.firstName}}  {{resource.lastName}}</md-option>
              </md-select>
            </div>
            <div flex="25">
              <h5 aria-describedby="headings-output" class="md-display-5">Select a time period</h5>
              <md-radio-group ng-model="data.period" ng-change="choosePeriod(data.period)">
                    <md-radio-button value="day" class="md-primary">Day</md-radio-button>
                    <md-radio-button value="month" class="md-primary"> Month </md-radio-button>
                    <md-radio-button value="week" class="md-primary">Week</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div flex layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="goToDates()">Select Dates</md-button>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="two" disabled="data.step!=1">
        <md-content class="md-padding">
          <h5 aria-describedby="headings-output" class="md-display-5">Select dates</h5>
          <md-input-container style="max-width: 200px">
            <label>From</label>
            <input ng-model="data.start" type="date">
          </md-input-container>
          <md-input-container style="max-width: 200px">
            <label>To</label>
            <input ng-model="data.end" type="date">
          </md-input-container>
          <div flex layout="row">
            <md-button class="md-warn" ng-click="data.step=0">Select employee / period</md-button>
            <span flex></span>
            <md-button class="md-primary" ng-click="selectDates()">Select shift times</md-button>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="three" disabled="data.step!=2">
        <md-content class="md-padding">
          <h5 aria-describedby="headings-output" class="md-headline">Select shift times</h5>
          <div layout="row" layout-margin>
            <div layout="column" flex>
              <label class="dashboard-label">Shift Start</label>
              <md-select ng-model="data.startTime" aria-label="Shift Start">
                  <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
              </md-select>
            </div>
            <div layout="column" flex>
              <label class="dashboard-label">Shift End</label>
              <md-select ng-model="data.endTime" aria-label="Shift Start">
                  <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
              </md-select>
            </div>
            <div layout="column" flex>
              <label class="dashboard-label">Break 1</label>
              <md-select ng-model="data.break1" aria-label="Shift Start">
                  <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
              </md-select>
            </div>
            <div layout="column" flex>
              <label class="dashboard-label">Break 2</label>
              <md-select ng-model="data.break2" aria-label="Shift Start">
                  <md-option ng-value="slot" ng-repeat="slot in localData.slotLabels">{{slot}}</md-option>
              </md-select>
            </div>
          </div>
          <div flex layout="row">
            <md-button class="md-warn" ng-click="data.step=1">Select dates</md-button>
            <span flex></span>
            <md-button class="md-primary" ng-click="createShift()">Create Shift</md-button>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>