<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content>
    <md-tabs md-selected="data.step" md-dynamic-height>
      <md-tab label="Incoming signup requests">
        <div layout="row" ng-repeat="request in localData.signupRequests" layout-padding>
           <div flex>{{request.email}}</div>
           <div flex>{{request.requestedOn | date:medium}}</div>
           <div flex><md-button class="md-primary md-raised" ng-click="accept(request)">Accept</md-button></div>
           <div flex><md-button class="md-secondary md-raised" ng-click="decline(request)">Decline</md-button></div>
        </div>
      </md-tab>
      <md-tab label="Employees">
        <md-content layout-padding flex="90">
          <div class="details-box">
            <div layout="row" class="shift-table-header resources" layout-align="center center">
               <div flex ng-click="setOrderParam('firstName')">
                Name
                <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='firstName'"></ng-md-icon>
                <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-firstName'"></ng-md-icon>
               </div>
               <div flex ng-click="setOrderParam('mobile')">
                Mobile
                <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
               </div>
               <div flex ng-click="setOrderParam('email')">
                Email
                <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='email'"></ng-md-icon>
                <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-email'"></ng-md-icon>
               </div>
               <div flex ng-click="setOrderParam('cohort')">
                Cohort
                <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='cohort'"></ng-md-icon>
                <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-cohort'"></ng-md-icon>
               </div>
               <div flex ng-click="setOrderParam('location')">
                Location
                <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='location'"></ng-md-icon>
                <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-location'"></ng-md-icon>
              </div>
               <span flex></span>
               <div style="opacity:0">
                  <md-button class="md-icon-button" aria-label="Use Android" ng-click="edit(employee)">
                    <ng-md-icon icon="mode_edit" style="fill: white" size="30"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Use Android" ng-click="delete(employee)">
                    <ng-md-icon icon="delete" style="fill: white" size="30"></ng-md-icon>
                  </md-button>
               </div>
            </div>
            <div layout="row" ng-repeat="employee in localData.employees | orderBy:orderParam" layout-align="center center" class="edit-item resources" style="border-bottom: 1px solid rgba(0,0,0,0.12)" >
               <div flex>{{employee.firstName}} {{employee.lastName}}</div>
               <div flex>{{employee.mobile}}</div>
               <div flex>{{employee.email}}</div>
               <div flex>{{employee.cohort}}</div>
               <div flex>{{employee.location}}</div>
               <span flex></span>
               <div >
                  <md-button class="md-icon-button" aria-label="Use Android" ng-click="edit(employee)">
                    <ng-md-icon icon="mode_edit" style="fill: #0288D1" size="14"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Use Android" ng-click="delete(employee)">
                    <ng-md-icon icon="delete" style="fill: #BF3C3C" size="14"></ng-md-icon>
                  </md-button>
               </div>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Add a new employee">
        <div layout="column" layout-sm="column" style="max-width: 600px;" layout-padding layout-margin class="details-box">
          <form novalidate  name="newEmployeeForm" ng-submit="newEmployeeForm.$valid && createEmployee(newEmployee,manualPassword,confirmPassword)">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="newEmployee.firstName" name="firstname" required>
            <div ng-messages="newEmployeeForm.firstname.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="newEmployee.lastName" name="lastname" required>
            <div ng-messages="newEmployeeForm.lastname.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="newEmployee.email" type="email" name="email" required>
            <div ng-messages="newEmployeeForm.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Mobile</label>
            <input ng-model="newEmployee.mobile" name="mobile" required>
            <div ng-messages="newEmployeeForm.mobile.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="row">
            <md-select placeholder="Location" ng-model="newEmployee.location" flex required name="worktypes">
               <md-option value="Mumbai">Mumbai</md-option>
               <md-option value="New Delhi">New Delhi</md-option>
               <md-option value="Chennai">Chennai</md-option>
            </md-select>
            <div class="errors" ng-messages="newEmployeeForm.worktypes.$error" ng-if="newEmployeeForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
          <div layout="col">
            <md-select placeholder="Cohort" ng-model="newEmployee.cohort" flex required name="worktypes">
               <md-option value="Officer">Officer</md-option>
               <md-option value="Principal">Principal</md-option>
               <md-option value="Project Leader">Project Leader</md-option>
               <md-option value="Consultant">Consultant</md-option>
               <md-option value="Associate">Associate</md-option>
               <md-option value="Senior Associate">Senior Associate</md-option>
               <md-option value="Intern">Intern</md-option>
               <md-option value="Summer Intern">Summer Intern</md-option>
               <md-option value="BST">BST</md-option>
               <md-option value="KT">KT</md-option>
               <md-option value="Others">Others</md-option>
            </md-select>
            <div class="errors" ng-messages="newEmployeeForm.worktypes.$error" ng-if="newEmployeeForm.$dirty">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
         <md-input-container flex>
           <label>Password</label>
           <input ng-model="newEmployee.password" type="password">
         </md-input-container>
         <md-input-container flex>
           <label>Confirm Password</label>
           <input ng-model="confirmPassword" type="password">
         </md-input-container>
          <div flex layout="row">
            <span flex></span>
            <md-button md-no-ink class="md-warn">Reset form</md-button>
            <md-button md-no-ink class="md-primary" type="submit">{{data.mode}} Employee</md-button>
          </div>
          </form>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>