<div layout="column" layout-fill>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <span>Resource Allocation Tool</span>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content>
    
  </md-content>
</div>