<div layout="column" layout-fill class="app-scope">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-class="{'dont-show':!searching}"></md-progress-linear>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content layout="column" layout-padding style="width:99.5%; overflow: hidden; height: 89%">
    <!--   <div layout="row" ng-class="{'dont-show':!searching}">
        <md-progress-linear md-mode="indeterminate" flex="100"></md-progress-linear>
      </div> -->
      <div layout="row" style="width:100%; height: 100%">
        <div flex="15" layout-padding class="side-filter">
          <md-button class="md-primary" ng-click="startNewBooking()">Create a new booking</md-button>
          <div layout="row" flex style="padding:0">
            <div ng-click="selectLocation('')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation==''}" flex>All</div>
            <div ng-click="selectLocation('Mumbai')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation=='Mumbai'}" flex>MUM</div>
            <div ng-click="selectLocation('New Delhi')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation=='New Delhi'}" flex>NDE</div>
            <div ng-click="selectLocation('Chennai')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation=='Chennai'}">CHE</div>
          </div>
          <calendar selecteddate="data.date" datechanged="changeDate(date)"></calendar>
          <md-list class="control-list">
            <md-list-item ng-repeat="(index,user) in localData.resources | filter:data.selectedLocation | orderBy:'seq'" layout="row" layout-align="center center" ng-mouseover="data.showExtra=index" ng-mouseout="data.showExtra=null" class="edit-item">
                <md-checkbox ng-model="user.selected" ng-change="userChanged(user,user.selected)"></md-checkbox>
                <p>{{user.firstName}} {{user.lastName}}</p>
                <div ng-show="data.showExtra==index" class="control-buttons">
                  <md-button class="md-icon-button" aria-label="Move Up" >
                    <ng-md-icon icon="expand_less" style="fill: grey" size="14" ng-click="moveResourceUp(user)"></ng-md-icon>
                    <md-tooltip>
                      Move up
                    </md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Move Down" >
                    <ng-md-icon icon="expand_more" style="fill: grey" size="14" ng-click="moveResourceDown(user)"></ng-md-icon>
                    <md-tooltip>
                      Move down
                    </md-tooltip>
                  </md-button>
                </div>
              </md-list-item>
          </md-list>
          <md-button class="md-primary" ng-click="selectAll(data.currentUserList)" ng-if="data.currentUserList.length">Select all</md-button>
        </div>
        <div flex="85" layout="row" layout-margin layout-fill style="overflow-y: scroll; overflow-x:scroll; max-height: 100%">
          <div class="slotsAxis">
            <div class="axisHeader" layout-padding>Slots</div>
            <div class="slot-header" ng-repeat="slot in localData.calendarLabels" layout-padding layout="col" layout-align="center center" style="height:30px;">
              <span>
                {{slot}}
              </span>
            </div>
          </div>
          <div class="calendars">
              <div class="calendar" ng-repeat="resource in localData.resources | filter:data.selectedLocation | orderBy:'seq'" ng-if="resource.selected">
                <div class="calendar-header" layout-padding>
                  <div class="resource-name">{{resource.firstName}}  {{resource.lastName}}</div>
                  <span class="md-caption workType" ng-repeat="type in resource.types" ng-if="type">
                  <md-tooltip>{{type.type}}</md-tooltip>
                  {{type.type | limitTo:2}}
                  </span>
                </div>
                <div class="slots">
                  <div class="slot-cell {{dayPlan.status}}" ng-repeat="dayPlan in localData.currentCalendar[resource.id]" ng-style="{'height':(dayPlan.duration*30)-17+'px'}" layout-padding ng-class="{'disabled':dayPlan.status=='off duty','break':dayPlan.status=='break','booked':dayPlan.status=='upcoming', 'off-duty-book':dayPlan.od && dayPlan.details}" ng-click="viewDetails(dayPlan)">
                    <md-tooltip ng-if="dayPlan.details">
                      {{findEmployee(dayPlan.details.employeeID, dayPlan)}} - {{dayPlan.details.casecode | uppercase}}
                    </md-tooltip>
                    <div layout="row">
                     <!--  <span class="slot-label" ng-if="dayPlan.status=='upcoming'">{{dayPlan.label}}</span> -->
                      <span flex></span>
                      <span class="slot-status" ng-if="dayPlan.status!='upcoming' && !dayPlan.od">{{dayPlan.status | uppercase}}</span>
                       <span class="slot-status" ng-if="dayPlan.od">OD</span>
                    </div>
                   
                    <div ng-if="dayPlan.status!='open'" class="slot-details">
                      <span class="slot-status" ng-if="dayPlan.status=='upcoming'">{{findEmployee(dayPlan.details.employeeID, dayPlan)}}<br/>{{dayPlan.details.type}}</span><br/>
                      <span class="slot-status" ng-if="dayPlan.details.casecode">{{dayPlan.details.casecode | uppercase}}</span>
                    </div>
                    <div ng-if="dayPlan.status=='holiday'" class="slot-details holiday">
                      <span class="slot-status">{{dayPlan.details.description | uppercase}}</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </md-content>
</div>