.calendar {
	width: 150px;
	margin: 0 5px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	.calendar-header {
		 background-color: rgb(76,175,80);
		 height: 55px;
		 color: white;
		 text-align: center;
		.resource-name {
			font-family: Roboto, serif;
			font-weight: 500;
			text-transform: uppercase;
			color: white;
			font-size: 14px;
			text-align: center;
		}
		.workType {
			display: inline-block;
			cursor: hand;
			cursor: pointer;
			width: 18px;
			height: 18px;
			color: black;
			font-size: 10px !important;
			line-height: 18px;
			margin: 0 3px;
			background: white;
			border-radius: 100%;
			text-align: center;
		}
	}
	.slots {
		padding: 0;
		.slot-cell {
			border: 1px solid rgba(0,0,0,0.12);
			border-bottom: none;
			font-size: 10px;
			line-height: 11px;
			white-space: normal;
			overflow: hidden;
			&:last-child {
				border-bottom: 1px solid rgba(0,0,0,0.12);
			}
			&.disabled {
				background: rgba(0,0,0,0.12);
			}
			&.break {
				background: #F44336;
			}
			&.booked {
				background: #006747;
				color: white;
			}
			.slot-details {
				text-align: right;
			}
			&.holiday {
				background: rgba(0,0,0,0.12);
			}
			&.off-duty-book {
				background: #3b3d3a;
				color: white;
			}
			.slot-status {
				text-transform: capitalize;
			}
		}
	}
}
.location-button {
	text-align: center;
	cursor: hand;
	cursor: pointer;
	padding: 5px;
	outline: none;
	&.md-primary.md-raised {
		background-color: #006747;
		color: white;
	}
}
.side-filter {
	font-size: 14px;
	line-height: 16px;
}
.control-list {
	font-size: 10px;
	line-height: 12px;
	margin-top:5px;
	p {
		margin: 0;
	}
	md-list-item {
		margin: 2px 0;
		min-height: 0;
		.md-no-style {
			padding: 0;
			min-height: 14px;
			md-checkbox {
				margin:0;
			}
		}
		&:first-child {
			margin-top: 10px;
		}
	}
}
.calendars {
	white-space: nowrap;
	max-height: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
}
.slotsAxis {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	height: 100%;
	.axisHeader {
		height: 40px;
		font-family: Roboto, serif;
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		color: rgb(76,175,80);
		text-align: center;
	}
	.slot-header {
		border-top: 1px solid rgba(0,0,0,0.12);
		text-align: center;
		span {
			font-size: 12px;
			line-height: 14px;
		}
	}
}