<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content layout-fill  style="background-color: #e1e0e0">
    <div layout="row" layout-align="center center" layout-fill flex>
      <div flex="30" flex-order="2" flex-sm="100" layout-align="center center">
        <md-button class="download md-raised md-primary" ng-click="download()" ng-if="data.os=='android' || data.os=='ios'">
            Download the India VS App
            <img src="assets/images/android.png" ng-if="data.os=='android'"/>
            <img src="assets/images/apple.png"  ng-if="data.os=='ios'"/>
        </md-button>
        <span class="md-caption" style="padding: 2.5%; text-align: center; display: block; color: #7B7C7E" ng-if="data.os=='ios' || data.os=='android'">On the next page, click install to download the application. The page may ask you to trust the developer "Ek Cutting Technology LLP". This is normal and is for security purposes for non-store-apps</span>
        <md-button class="download md-raised md-primary" disabled ng-if="data.os!='ios' && data.os!='android'">No app available for your platform.</md-button>
        <h4 class="md-subhead best-viewed" ng-if="data.os!='ios' && data.os!='android'">Please visit the <a href="http://indiavs.co">web portal</a> to use the system</h4>
      </div>
    </div>
    <!-- <div flex="50">
     
    </div> -->
  </md-content>
</div>