<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content  style="background-color: #e1e0e0;align-self: stretch">
    <div layout="row" layout-align="center center" layout-fill flex layout-align-sm="start start">
      <div flex="30" flex-order="2" flex-sm="100">
        <md-card>
          <md-card-content>
            <form name="userForm" layout-margin>
              <md-input-container flex>
                <label>Email</label>
                <input ng-model="credentials.email">
              </md-input-container>
              <md-input-container flex>
                <label>Password</label>
                <input ng-model="credentials.password" type="password">
              </md-input-container>
              <div flex layout="column" layout-align="end end" layout-margin>
                <md-button class="md-raised md-primary" flex ng-click="doLogin(credentials)">Login</md-button>
                <md-button class="md-primary" flex ng-click="doLogin(credentials)">Sign Up</md-button>
              </div>
            </form>
          </md-card-content>
         </md-card>
         <md-progress-linear md-mode="indeterminate" ng-show="loginRunning"></md-progress-linear>
         <h4 class="md-subhead best-viewed">Best viewed on&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.google.com/chrome/browser/desktop/index.html"><img src="assets/images/chrome.png"/></a></h4>
      </div>
    </div>
    <!-- <div flex="50">
     
    </div> -->
  </md-content>
</div>