@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto', serif;
  font-size: 14px;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.download {
  width:95%;
  padding: 20px;
  img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: right;
  }
}

.best-viewed {
  text-align: center;
  color: #7B7C7E;
  img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
  }
}

.head-logo {
  height: 100%;
}

.dont-show {
  opacity: 0;
}

md-toolbar.md-default-theme {
  background-color: #006747;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}
md-select {
  padding-top: 13px;
  padding-bottom: 13px !important;
  .md-select-label {
    width: 100%;
  }
}
md-input-container {
   padding-bottom: 0px;
    md-select {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        display: block;
        background: none;
        border-width: 0 0 1px 0;
        line-height: 26px;
        -ms-flex-preferred-size: 26px;
        border-radius: 0;
        margin: 0;
        padding-top: 4px;

        md-select-label{
            color: black;
        }
        .md-placeholder {
          opacity: 1;
          top: -20px;
          width: 100%;
        }
    }
    md-select-label {
        padding-top: 4px;
        font-size: 0.75em;
        color: rgba(0,0,0,0.54);
    }
}
md-select {
  margin-top: 0.4em;
}
.always-high {
  transform: translate3d(0, 4px, 0) scale(0.75) !important;
}
.picker--opened .picker__frame {
    top: 162px;
}

.low-bot {
  padding-bottom: 10px;
}

.table-header {
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
}
.app-scope { height: 100%; overflow: hidden; }

.edit-item {
  input {
    border-top: none;
    border-left: none;
    border-right:none;
  }
  button {
    padding: 0;
  }
  .md-button.md-icon-button {
    margin: 5px;
    height: 14px;
    width: 20px;
    line-height: 14px;
    min-height: 14px;
  }
}
.control-buttons {
  .md-button {
    margin: 5px;
    height: 14px;
    width: 20px;
    line-height: 14px;
    min-height: 14px;
  }
}
md-tab {
  padding: 10px 12px;
}

md-autocomplete[md-floating-label] {
  padding-bottom: 0;
}

.md-sidenav-left {
  padding: 0;
  a.md-button.md-default-theme {
    display: block;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector
