<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content>
    <div layout="row" layout-align="center center">
      <div flex="30" flex-order="2" flex-sm="100" ng-if="!unauthorized && !showRedirect">
        <md-card>
          <md-card-content>
            <form name="userForm" layout-margin >
                  <md-input-container flex>
                    <label>New Password</label>
                    <input ng-model="credentials.password" type="password">
                  </md-input-container>
                   <md-input-container flex>
                    <label>Confirm Password</label>
                    <input ng-model="credentials.confirm" type="password">
                  </md-input-container>
                  <div flex layout="column" layout-align="end end" layout-margin>
                     <md-button class="md-raised md-primary" flex ng-click="reset(credentials)">Reset Password</md-button>
                     <md-button class="md-raised md-stable" flex ui-sref="login">Back to Login</md-button>
                  </div>
                </form>
          </md-card-content>
         </md-card>
         <md-progress-linear md-mode="indeterminate" ng-show="loginRunning"></md-progress-linear>
      </div>
      <div flex="30" flex-order="2" flex-sm="100" ng-if="unauthorized && !showRedirect">
        <md-card>
          <md-card-content>
            <h1 class="md-display-2" style="text-align: center; color: #B6B7BC">Unauthorized</h1>
             <div flex layout="row" layout-align="end end" layout-margin>
               <md-button class="md-raised md-primary" flex ui-sref="login">Back to Login</md-button>
             </div>
          </md-card-content>
         </md-card>
         <md-progress-linear md-mode="indeterminate" ng-show="loginRunning"></md-progress-linear>
      </div>
      <div flex="30" flex-order="2" flex-sm="100" ng-if="!unauthorized && showRedirect">
        <md-card>
          <md-card-content style="text-align: center">
            <h1 class="md-display-1">Password changed successfully</h1>
            <div flex layout="row" layout-align="end end" layout-margin>
                <md-button class="md-raised md-primary" flex ui-sref="login">Back to Login</md-button>
            </div>
          </md-card-content>
         </md-card>
         <md-progress-linear md-mode="indeterminate" ng-show="loginRunning"></md-progress-linear>
      </div>
    </div>
    <!-- <div flex="50">
     
    </div> -->
  </md-content>
</div>