<div class="calendar-pick" layout="column">
	<div layout="row" class="month-header" layout-align="center center">
		<ng-md-icon icon="keyboard_arrow_left" style="fill: black" size="30" ng-click="prevMonth()"></ng-md-icon>
		<span flex></span>
		<span>{{month}}</span>
		<span flex></span>
		<ng-md-icon icon="keyboard_arrow_right" style="fill: black" size="30" ng-click="nextMonth()"></ng-md-icon>
	</div>
	<div layout="row" class="week-header" layout-align="center center">
		<span class="day-name weekend" flex>S</span>
		<span class="day-name" flex>M</span>
		<span class="day-name" flex>T</span>
		<span class="day-name" flex>W</span>
		<span class="day-name" flex>T</span>
		<span class="day-name" flex>F</span>
		<span class="day-name weekend" flex>S</span>
	</div>
	<div layout="row" class="calendar-week" layout-align="center center" ng-repeat="week in days">
		<span class="day-name" flex ng-repeat="day in ::week" ng-class="{'weekend':(day.day==0 || day.day==6), 'disabled':day.isBefore, 'selected':day.date==selecteddate}" ng-click="selectDate(day)">{{day.date | date:'d'}}</span>
	</div>
</div>