.calendar-pick {
	width: 100%;
	text-align:center;
	margin-top: 10px;
	font-size: 12px;
	.day-name {
		padding: 5px;
		border: 1px solid rgba(0,0,0,0.2);
		border-top: none;
		border-right: none;
		cursor: pointer;
		&:last-child {
			border-right: 1px solid rgba(0,0,0,0.2);
		}
		&.weekend {
			background: rgba(0,0,0,0.2);
		}
		&.selected {
			background: #006747;
			color: white !important;
			font-weight: 600;
		}
		&.disabled {
			color: rgba(0,0,0,0.2);
		}
	}
	.week-header {
		.day-name {
			border-top: 1px solid rgba(0,0,0,0.2);
			font-weight: 600;
		}
	}
}