<div layout="column" layout-fill>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <span>Resource Allocation Tool</span>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content>
    <md-tabs>
      <md-tab label="Slots">
        <md-content layout-padding>
          <div layout="row" layout-padding>
             <div flex>Start</div>
             <div flex>End</div>
              <div flex>Type</div>
          </div>
          <div layout="row" ng-repeat="slot in localData.baseSlots" layout-padding>
             <div flex>{{slot.startHour | zpad:2}} : {{slot.startMinute | zpad:2}}</div>
             <div flex>{{slot.endHour | zpad:2}} : {{slot.endMinute | zpad:2}}</div>
             <div flex>{{slot.type}}</div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>