<div layout="column" layout-fill class="app-scope">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content class="dashboard-container" layout-fill>
    <md-progress-linear class="md-accent dashboard=progress" md-mode="determinate" value="{{(6-localData.requestCounter) * 16.667}}" ng-show="localData.requestCounter>0"></md-progress-linear>
    <md-tabs ng-show="localData.requestCounter==0" md-dynamic-height>
      <md-tab label="Create new Booking" md-on-select="startBooking()">
        <md-tab-body>
          <md-tabs md-selected="data.step" >
            <md-tab label="Choose details" disabled="data.step!=0">
                  <md-content class="md-padding">
                  <div style="max-width: 280px;" layout="column">
                    <md-input-container>
                      <label>Date</label>
                      <input ng-model="data.date" type="date">
                    </md-input-container>
                    <div layout="column">
                      <label class="dashboard-label" ng-if="data.workType">Work Type</label>
                      <md-select ng-model="data.workType">
                        <md-select-label>{{ data.workType? data.workType: 'Select Work Type' }}</md-select-label>
                          <md-option ng-value="type.type" ng-repeat="type in localData.workTypes | orderBy:'seq'" ng-init="data.workType=localUser.userData.types[0].type">{{type.type}}</md-option>
                      </md-select>
                    </div>
                    <div layout="column">
                      <label class="dashboard-label" ng-if="data.hours">Hours</label>
                      <md-select ng-model="data.hours" aria-label="Select Hours">
                        <md-select-label>{{ data.hours? data.hours: 'Select Hours' }}</md-select-label>
                          <md-option ng-value="1">1</md-option>
                          <md-option ng-value="2">2</md-option>
                          <md-option ng-value="3">3</md-option>
                      </md-select>
                    </div>
                    <div layout="column">
                      <md-input-container>
                        <label>Casecode</label>
                        <input ng-model="data.casecode" type="text">
                      </md-input-container>
                    </div>
                     <md-button class="md-raised md-primary" flex ng-click="findSlots(data)">Choose Slots</md-button>
                  </div>
                  </md-content>
            </md-tab>
            <md-tab label="Choose slot" ng-disabled="data.step!=1">
                  <md-content class="md-padding" style="height: 520px">
                      <div layout="row">
                        <md-list flex="70" class="slot-list">
                          <md-list-item ng-repeat="(index,slot) in slots track by index" class="slot-item">
                            <div class="dashboard-slot" ng-click="selectSlot(index)" ng-class="{'selected':selectedSlotIndex==index}">{{slot.start |date:'hh:mm a'}} - {{slot.end |date:'hh:mm a'}}</div>
                            <div layout-padding ng-show="selectedSlotIndex==index">
                            <md-button class="md-raised md-primary" ng-click="bookSlots()">Confirm Booking</md-button>
                            </div>
                          </md-list-item>
                        </md-list>
                      </div>
                  </md-content>
            </md-tab>
          </md-tabs>
        </md-tab-body>
      </md-tab>
      <md-tab label="My Upcoming Bookings" style="height: 89%; overflow: scroll">
        <md-content class="md-padding">
          <div layout="row">
          <div layout="column" flex="90" class="details-box">
              <div layout="row" layout-align="center center" class="shift-table-header resources" flex="75">
                 <div flex="20" ng-click="setOrderParam('firstName')">
                    Date
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='firstName'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-firstName'"></ng-md-icon>
                 </div>
                 <div flex="20" ng-click="setOrderParam('email')">
                     Casecode
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='email'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-email'"></ng-md-icon>
                  </div>
                  <div flex="20" ng-click="setOrderParam('mobile')">
                     Work Type
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                  </div>
                 <div flex="20" ng-click="setOrderParam('mobile')">
                    Time
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                 </div>
                 <span flex></span>
                 <div layout-margin>
                    <input ng-model="resourceSearch" placeholder="Search resources"/>
                 </div>
              </div>
              <div layout="row" ng-repeat="item in localData.bookings | orderBy:orderParam | filter: onlyFuture | filter:resourceSearch" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12)" class="edit-item resources">
                 <div flex="20" class="employee-table-cell">{{ item.start | date:'EEE, dd/MMM/yyyy' }}</div>
                 <div flex="20" class="employee-table-cell">{{item.casecode}}</div>
                 <div flex="20" class="employee-table-cell">{{item.workType}}</div>
                 <div flex="20" class="employee-table-cell">{{ item.start | date:'hh:mm a' }} - {{item.end | date:'hh:mm a'}}</div>
                 <span flex></span>
                 <div class="control-buttons">
                    <!-- <md-button class="md-warn" ng-click="modifyBooking(item)">Modify</md-button> -->
                 </div>
                 <md-divider></md-divider>
              </div>
            </div>
          </div>
          <h5 class="md-display-5" ng-if="!localData.bookings.length">No bookings coming up.</h5>
        </md-content>
      </md-tab>
      <md-tab label="My Past Bookings" style="height: 89%; overflow: scroll">
        <md-content class="md-padding">
          <div layout="row">
          <div layout="column" flex="90" class="details-box">
              <div layout="row" layout-align="center center" class="shift-table-header resources" flex="75">
                 <div flex="20" ng-click="setOrderParam('firstName')">
                    Date
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='firstName'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-firstName'"></ng-md-icon>
                 </div>
                 <div flex="20" ng-click="setOrderParam('email')">
                     Casecode
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='email'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-email'"></ng-md-icon>
                  </div>
                  <div flex="20" ng-click="setOrderParam('mobile')">
                     Work Type
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                  </div>
                 <div flex="20" ng-click="setOrderParam('mobile')">
                    Time
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                 </div>
                 <span flex></span>
                 <div layout-margin>
                    <input ng-model="resourceSearch" placeholder="Search resources"/>
                 </div>
              </div>
              <div layout="row" ng-repeat="item in localData.bookings | orderBy:orderParam | filter: onlyPast | filter:resourceSearch" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12)" class="edit-item resources">
                  <div flex="20" class="employee-table-cell">{{ item.start | date:'EEE, dd/MMM/yyyy' }}</div>
                 <div flex="20" class="employee-table-cell">{{item.casecode}}</div>
                 <div flex="20" class="employee-table-cell">{{item.workType}}</div>
                 <div flex="20" class="employee-table-cell">{{ item.start | date:'hh:mm a' }} - {{item.end | date:'hh:mm a'}}</div>
                 <span flex></span>
                 <div class="control-buttons">
                   
                 </div>
                 <md-divider></md-divider>
              </div>
            </div>
          </div>
          <h5 class="md-display-5" ng-if="!localData.bookings.length">No bookings coming up.</h5>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>