.dashboard-button {
	.dashboard-icon {
		position: absolute;
		left: 10px;
		top: 0px;
	}
}
.time-slot {
	display: inline-block;
	vertical-align: middle;
	background-color: rgb(63,81,181);
	font-size: 16px;
	margin-left: 20px;
	font-weight: 400;
	padding: 5px;
	color: white;
	border-radius: 5px;
}

.dashboard-worktype {
	font-size: 16px;
	font-weight: 400;
}

.slot-list {
	width: 100%;
	height: 100%;
	.slot-item {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
}
.employee-table-cell {
	text-align: center;
}

md-select {
	padding-bottom: 26px;
}
.dashboard-label {
	transform: translate3d(0, 4px, 0) scale(0.75);
	-webkit-transform: translate3d(0, 4px, 0) scale(0.75);
	 padding-left: 2px;
	 transform-origin: left top;
	 -webkit-transform-origin: left top;
	 transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
	 transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
	 color: rgba(0,0,0,0.54);
	 font-size: 16px;
}

.dashboard-slot {
	padding: 10px;
	border: 1px solid #DDDDDD;
	max-width: 290px;
	margin: 10px;
	cursor: hand;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
}