<div layout="column" class="app-scope">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <span>Resource Allocation Tool</span>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content class="dashboard-container">
    <md-progress-linear class="md-accent dashboard-progress" md-mode="determinate" value="{{(6-localData.requestCounter) * 16.667}}" ng-show="localData.requestCounter>0"></md-progress-linear>
    <md-tabs md-dynamic-height md-selected="data.step">
      <md-tab label="Create new Booking">
       <md-content class="md-padding">
       <div style="max-width: 280px;" layout="column">
         <md-input-container>
           <label>Date</label>
           <input ng-model="data.date" type="date">
         </md-input-container>
         <md-select ng-model="data.workType">
           <md-select-label>{{ data.workType? data.workType: 'Select Work Type' }}</md-select-label>
             <md-option ng-value="type.type" ng-repeat="type in localData.workTypes | orderBy:'seq'" ng-init="data.workType=localUser.userData.types[0].type">{{type.type}}</md-option>
         </md-select>
         <md-input-container>
           <label>Start Time (eg: 10:00 am)</label>
           <input ng-model="data.startTime" type="time">
         </md-input-container>
         <md-input-container>
           <label>End Time (eg: 11:00 am)</label>
           <input ng-model="data.endTime" type="time">
         </md-input-container>
         <div layout="column">
           <md-autocomplete flex
               md-no-cache="false"
               md-selected-item="data.employee"
               md-search-text="employeeSearch"
               md-items="employee in employeesearch(employeeSearch)"
               md-item-text="employee.firstName+' '+employee.lastName"
               md-floating-label="Employee">
             <span md-highlight-text="employeeSearch">{{employee.firstName+' '+employee.lastName}}</span>
           </md-autocomplete>
         </div>
         <div layout="column">
           <md-autocomplete flex
               md-no-cache="false"
               md-selected-item="data.resource"
               md-search-text="resourceSearch"
               md-items="resource in resourcesearch(resourceSearch)"
               md-item-text="resource.firstName+' '+resource.lastName"
               md-floating-label="Resource">
             <span md-highlight-text="resourceSearch">{{resource.firstName+' '+resource.lastName}}</span>
           </md-autocomplete>
         </div>
         <div layout="column">
           <md-input-container>
             <label>Casecode</label>
             <input ng-model="data.casecode" type="text">
           </md-input-container>
         </div>
         <div layout="column">
           <md-input-container>
             <label>Notes</label>
             <input ng-model="data.notes" type="text">
           </md-input-container>
         </div>
          <md-button class="md-raised md-primary" flex ng-click="confirmBooking(data)">Confirm Booking</md-button>
       </div>
       </md-content>
      </md-tab>
      <md-tab label="My Upcoming Bookings">
      	<md-content class="md-padding" style="height: 89%; overflow: scroll">
          <div layout="row">
          <div layout="column" flex="90" class="details-box">
              <div layout="row" layout-align="center center" class="shift-table-header resources" flex="75">
                 <div flex="10" ng-click="setOrderParam('start')">
                    Date
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                 </div>
                 <div flex="10" ng-click="setOrderParam('start')">
                    Employee
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                 </div>
                 <div flex="10" ng-click="setOrderParam('email')">
                     Casecode
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='email'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-email'"></ng-md-icon>
                  </div>
                  <div flex="10" ng-click="setOrderParam('mobile')">
                     Work Type
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                  </div>
                 <div flex="20" ng-click="setOrderParam('start')">
                    Time
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                 </div>
                 <div flex="10">
                    Notes
                 </div>
                 <span flex></span>
                 <div layout-margin>
                    <input ng-model="resourceSearch" placeholder="Search resources"/>
                 </div>
              </div>
              <div layout="row" ng-repeat="item in testValue=(localData.bookings | orderBy:orderParam | filter: onlyFuture)" layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12)" class="edit-item resources">
                 <div flex="10" style="text-align: center">{{ item.start | date:'EEE, dd/MMM/yyyy' }}</div>
                 <div flex="10" style="text-align: center;text-transform: capitalize">{{findEmployee(item.employeeID)}}</div>
                 <div flex="10" style="text-align: center">{{item.casecode}}</div>
                 <div flex="10" style="text-align: center">{{item.workType}}</div>
                 <div flex="20" style="text-align: center">{{ item.start | date:'hh:mm a' }} - {{item.end | date:'hh:mm a'}}</div>
                 <div flex="10" style="text-align: center">{{item.notes}}</div>
                 <span flex></span>
                 <div class="control-buttons">
                    <md-button class="md-primary" ng-disabled="!isToday(item.start)" ng-click="endBooking(item,$event)">Finish</md-button>
                    <md-button class="md-secondary" ng-click="modifyBooking(item)">Modify</md-button>
                    <md-button class="md-warn" ng-click="cancelBooking(item)">Delete</md-button>
                 </div>
                 <md-divider></md-divider>
              </div>
            </div>
          </div>
  		    <h5 class="md-display-5" ng-if="!testValue.length">No bookings coming up.</h5>
      	</md-content>
      </md-tab>
      <md-tab label="My Past Bookings">
        <md-content class="md-padding" style="height: 89%; overflow: scroll">
          <div layout="row">
          <div layout="column" flex="90" class="details-box">
              <div layout="row" layout-align="center center" class="shift-table-header resources" flex="75">
                 <div flex="10" ng-click="setOrderParam('start')">
                    Date
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                 </div>
                 <div flex="10" ng-click="setOrderParam('start')">
                    Employee
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                 </div>
                 <div flex="10" ng-click="setOrderParam('email')">
                     Casecode
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='email'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-email'"></ng-md-icon>
                  </div>
                  <div flex="10" ng-click="setOrderParam('mobile')">
                     Work Type
                     <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='mobile'"></ng-md-icon>
                     <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-mobile'"></ng-md-icon>
                  </div>
                 <div flex="20" ng-click="setOrderParam('start')">
                    Time
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                 </div>
                 <div flex="10">
                    Notes
                 </div>
                 <span flex></span>
                 <div layout-margin>
                    <input ng-model="resourceSearch" placeholder="Search resources"/>
                 </div>
              </div>
              <div layout="row" ng-repeat="item in localData.bookings | orderBy:orderParam | filter: onlyPast " layout-align="center center" style="border-bottom: 1px solid rgba(0,0,0,0.12)" class="edit-item resources">
                 <div flex="10" style="text-align: center">{{ item.start | date:'EEE, dd/MMM/yyyy' }}</div>
                 <div flex="10" style="text-align: center;text-transform: capitalize">{{findEmployee(item.employeeID)}}</div>
                 <div flex="10" style="text-align: center">{{item.casecode}}</div>
                 <div flex="10" style="text-align: center">{{item.workType}}</div>
                 <div flex="20" style="text-align: center">{{ item.start | date:'hh:mm a' }} - {{item.end | date:'hh:mm a'}}</div>
                 <div flex="10" style="text-align: center">{{item.notes}}</div>
                 <span flex></span>
                 <div class="control-buttons">
                    <md-button class="md-primary" ng-disabled="!isToday(item.start)" ng-click="endBooking(item,$event)">Finish</md-button>
                    <md-button class="md-secondary" ng-click="modifyBooking(item)">Modify</md-button>
                    <md-button class="md-warn" ng-click="cancelBooking(item)">Delete</md-button>
                 </div>
                 <md-divider></md-divider>
              </div>
            </div>
          </div>
          <h5 class="md-display-5" ng-if="!localData.bookings.length">No bookings coming up.</h5>
        </md-content>
      </md-tab>
      <md-tab label="My Leaves">
       <md-content>
        <div flex="75" class="details-box" layout-margin>
            <div flex layout="row" layout-align="start center" class="header">
              <input ng-model="data.search" placeholder="Search">
              <span flex="20"></span>
             
            </div>
            <div flex layout="column">
                <div flex layout="row" layout-align="center center" ng-if="localData.leaves.length" class="shift-table-header leaves">
                  <div flex ng-click="setOrderParam('start')">
                    From date
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='start'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-start'"></ng-md-icon>
                  </div>
                  <div flex ng-click="setOrderParam('end')">
                    To date
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='end'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-end'"></ng-md-icon>
                  </div>
                  <div flex ng-click="setOrderParam('type')">
                    Type
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='type'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-type'"></ng-md-icon>
                  </div>
                  <div flex ng-click="setOrderParam('duration')">
                    Duration
                    <ng-md-icon icon="expand_less" style="fill: white" size="20" ng-show="orderParam=='duration'"></ng-md-icon>
                    <ng-md-icon icon="expand_more" style="fill: white" size="20" ng-show="orderParam=='-duration'"></ng-md-icon>
                  </div>
                </div>
                <div flex layout="row" ng-repeat="(index,leave) in localData.leaves | filter:localUser.userData.id | orderBy:orderParam" class="shift-cells leaves" layout-align="center center">
                  <div class="table-cell" flex>{{leave.start | date:'EEE, dd/MMM/yyyy'}}</div>
                  <div class="table-cell" flex>{{leave.end | date:'EEE, dd/MMM/yyyy'}}</div>
                  <div class="table-cell" flex>{{leave.type}}</div>
                  <div class="table-cell" flex>{{leave.duration?leave.duration:'1'}}</div>
                </div>
                <div flex layout-padding layout-margin ng-if="!localData.leaves.length" layout-align="center center" layout="column">
                  <div flex>No Leaves</div>
                </div>
            </div>
        </div>
       </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>