.calendar {
	&.resource {
		.slots {
			.slot-cell {
				border: 1px solid rgba(0,0,0,0.12);
				border-bottom: none;
				font-size: 10px;
				line-height: 11px;
				white-space: normal;
				&:last-child {
					border-bottom: 1px solid rgba(0,0,0,0.12);
				}
				&.disabled {
					background: rgba(0,0,0,0.12);
				}
				&.break {
					background: #F44336;
				}
				&.booked {
					background: #F44336;
					color: white;
				}
				.slot-details {
					text-align: right;
				}
				&.holiday {
					background: rgba(0,0,0,0.12);
				}
				.slot-status {
					text-transform: capitalize;
				}
			}
		}
	}
}