<div layout="column" class="app-scope">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
     <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-class="{'dont-show':!searching}"></md-progress-linear>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content layout-padding  style="width:99.5%;overflow: hidden; height: 89%">
      <div layout="row" style="width:100%; height: 100%">
        <div flex="15" layout-padding class="side-filter">
          <md-button class="md-primary" ui-sref="dashboard" ng-if="localUser.roles.employee">Create a new booking</md-button>
          <md-button class="md-primary" ui-sref="resourcedashboard" ng-if="localUser.roles.resource">Create a new booking</md-button>
          <div layout="row" flex style="padding:0">
            <div ng-click="selectLocation('')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation==''}" flex>All</div>
            <div ng-click="selectLocation('Mumbai')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation=='Mumbai'}" flex>MUM</div>
            <div ng-click="selectLocation('New Delhi')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation=='New Delhi'}" flex>NDE</div>
            <div ng-click="selectLocation('Chennai')" class="location-button" ng-class="{'md-primary md-raised':data.selectedLocation=='Chennai'}">CHE</div>
          </div>
          <calendar flex selecteddate="data.date" datechanged="changeDate(date)"></calendar>
          <md-list class="control-list" ng-if="localUser.roles.resource">
            <md-list-item ng-repeat="(index,user) in ::localData.resources | filter:data.selectedLocation | orderBy:'seq'" layout="row" layout-align="start start" ng-mouseover="data.showExtra=index" ng-mouseout="data.showExtra=null" class="edit-item">
                <md-checkbox ng-model="user.selected" ng-change="userChanged(user,user.selected)"></md-checkbox>
                <div>{{user.firstName}} {{user.lastName}}</div>
                <span flex></span>
                <div ng-show="data.showExtra==index">
                  <md-button class="md-icon-button" aria-label="Move Up">
                    <ng-md-icon icon="expand_less" style="fill: grey" size="14" ng-click="moveResourceUp(user)"></ng-md-icon>
                    <md-tooltip>
                      Move up
                    </md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Move Down">
                    <ng-md-icon icon="expand_more" style="fill: grey" size="14" ng-click="moveResourceDown(user)"></ng-md-icon>
                    <md-tooltip>
                      Move down
                    </md-tooltip>
                  </md-button>
                </div>
              </md-list-item>
          </md-list>
          <md-button class="md-primary" ng-click="selectAll(data.currentUserList)" ng-if="data.currentUserList.length">Select all</md-button>
        </div>
        <div flex="85" layout="row" layout-margin layout-fill style="overflow-y: scroll; overflow-x:scroll; max-height: 100%">
          <div class="calendars">
              <div class="calendar" ng-repeat="(index,resource) in ::localData.resources | filter:data.selectedLocation | orderBy:'seq'" ng-if="resource.selected">
                <div class="calendar-header" layout-padding ng-show="localData.currentCalendar[resource.id]">
                  <div class="resource-name" ng-if="localUser.roles.resource">{{::resource.firstName}} {{resource.lastName|limitTo:1}}</div>
                  <div class="resource-name" ng-if="localUser.roles.employee">Resource {{index+1}}</div>
                  <div class="calendar-date">{{localData.currentCalendar[resource.id][0].begin | date}}</div>
                  <span class="md-caption workType" ng-repeat="type in resource.types" ng-if="type">
                  <md-tooltip>{{type.type}}</md-tooltip>
                  {{type.type | limitTo:2}}
                  </span>
                </div>
                <div class="slots">
                  <div class="slot-cell {{dayPlan.status}}" ng-repeat="dayPlan in localData.currentCalendar[resource.id]" ng-style="{'height':(dayPlan.duration*30)-17+'px'}" layout-padding ng-class="{'disabled':dayPlan.status=='off duty','break':dayPlan.status=='break','booked':dayPlan.status=='upcoming', 'off-duty-book':dayPlan.od && dayPlan.details}" ng-click="viewDetails(dayPlan)">
                    <div layout="row">
                      <span class="slot-label">{{dayPlan.begin | date:'hh:mm a'}}</span>
                      <span flex></span>
                      <span class="slot-status" ng-if="dayPlan.status!='upcoming' && !dayPlan.od">{{::dayPlan.status | uppercase}}</span>
                      <span class="slot-status" ng-if="dayPlan.od">OD</span>
                    </div>
                    <div ng-if="dayPlan.status!='open'" class="slot-details">
                      <span class="slot-status" ng-if="dayPlan.status=='upcoming' && localUser.roles.resource">{{findEmployee(dayPlan.details.employeeID)}}<br/>{{dayPlan.details.type}}<br/></span>
                      <span class="slot-status" ng-if="dayPlan.details.owner && dayPlan.details.owner.type=='employee'">Booked by: {{findEmployee(dayPlan.details.owner.userID)}}<br/></span>
                      <span class="slot-status" ng-if="dayPlan.details.owner && dayPlan.details.owner.type=='resource'">Booked by: {{findEmployee(dayPlan.details.owner.userID)}}<br/></span>
                      <span class="slot-status" ng-if="dayPlan.details.casecode">{{::dayPlan.details.casecode | uppercase}}<br/></span>
                      <span class="slot-status" ng-if="dayPlan.details.notes">{{::dayPlan.details.notes}}</span>
                    </div>
                    <div ng-if="dayPlan.status=='holiday'" class="slot-details holiday">
                      <span class="slot-status">{{dayPlan.details.description | uppercase}}</span>
                    </div>
                  </div>
                </div>
                <div class="calendar-header" layout-padding ng-show="localData.currentCalendar[resource.id]">
                  <div class="resource-name" ng-if="localUser.roles.resource">{{::resource.firstName}} {{resource.lastName|limitTo:1}}</div>
                  <div class="resource-name" ng-if="localUser.roles.employee">Resource {{index+1}}</div>
                  <div class="calendar-date">{{localData.currentCalendar[resource.id][0].begin | date}}</div>
                  <span class="md-caption workType" ng-repeat="type in resource.types" ng-if="type">
                  <md-tooltip>{{type.type}}</md-tooltip>
                  {{type.type | limitTo:2}}
                  </span>
                </div>
              </div>
          </div>
        </div>
      </div>
  </md-content>
</div>