.settings-box {
	padding: 0;
	border: 1px solid rgba(0,0,0,0.2);
	.header {
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		background: rgba(0,0,0,0.1);
		padding: 5px;
	}
	input {
		border-top: none;
		border-left: none;
		border-right:none;
	}
	.edit-list {
		padding: 5px;
		.edit-item {
			input {
				border-top: none;
				border-left: none;
				border-right:none;
			}
			button {
				padding: 0;
			}
			position: relative;
			.type {
				display: inline-block;
				vertical-align: middle;
			}
			.controls-holder {
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				right: 0;
			}
		}
	}
	.new-item {
		background: rgba(0,0,0,0.1);
	}
}