<div layout="column" layout-fill>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <ng-md-icon icon="menu" style="fill: white" size="40" ng-click="openLeftMenu()"></ng-md-icon> 
      <span flex></span>
      <img src="assets/images/ratlogo.png" class="head-logo"/>
      <span flex></span>
      <!-- fill up the space between left and right area -->
      <ng-md-icon icon="settings_power" style="fill: white" size="40" ng-click="doLogout()"></ng-md-icon>
    </div>
  </md-toolbar>
  <sidenav></sidenav>
  <md-content>
      <div layout="row">
        <div flex="30" layout="column" layout-margin>
          <div flex class="settings-box">
            <div class="header" flex>Work Types</div>
            <div class="edit-list">
              <div class="edit-item" ng-repeat="(index,type) in localData.workTypes | orderBy:'seq'" layout="row" layout-align="center center" ng-mouseover="data.showExtra=index" ng-mouseout="data.showExtra=null">
                <div flex="60" ng-show="data.workedit!=index">{{type.type}}</div>
                <input flex="60" ng-model="data.newWorkType" ng-show="data.workedit==index">
                <span flex></span>
                <div>
                    <md-button class="md-icon-button" aria-label="Move Up" ng-show="data.showExtra==index">
                      <ng-md-icon icon="expand_less" style="fill: grey" size="14" ng-click="moveWorkUp(type)"></ng-md-icon>
                      <md-tooltip>
                        Move up
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Move Down" ng-show="data.showExtra==index">
                      <ng-md-icon icon="expand_more" style="fill: grey" size="14" ng-click="moveWorkDown(type)"></ng-md-icon>
                      <md-tooltip>
                        Move down
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Edit" ng-show="data.workedit!=index">
                      <ng-md-icon icon="mode_edit" style="fill: green" size="14" ng-click="editWorkType(index,type)"></ng-md-icon>
                      <md-tooltip>
                        Edit Work Type
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.workedit==index">
                      <ng-md-icon icon="undo" size="14" ng-click="cancelWorkEdit()"></ng-md-icon>
                      <md-tooltip>
                        Cancel Edit
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Save" ng-show="data.workedit==index">
                      <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveWorkEdit(type)"></ng-md-icon>
                      <md-tooltip>
                        Save Edit
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" ng-show="data.workedit!=index">
                      <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="deleteWorkType(type)"></ng-md-icon>
                      <md-tooltip>
                        Delete Work Type
                      </md-tooltip>
                    </md-button>
                </div>
              </div>
            </div>
            <div class="new-item" layout="row" layout-align="center center" layout-padding>
               <input flex="70" ng-model="newWorkType" placeholder="Enter new type">
               <div flex>
                  <md-button class="md-primary" ng-click="createWorkType(newWorkType)">Add new</md-button>
               </div>
            </div>
          </div>
          <div flex class="settings-box">
            <div class="header">Leave Types</div>
            <div class="edit-list">
              <div class="edit-item" ng-repeat="(index,type) in localData.leaveTypes | orderBy:'seq'" layout="row" layout-align="center center" ng-mouseover="data.showExtraLeave=index" ng-mouseout="data.showExtraLeave=null">
                <div flex="60" ng-show="data.leaveedit!=index">{{type.type}}</div>
                <input flex="60" ng-model="data.newLeaveType" ng-show="data.leaveedit==index">
                <span flex></span>
                <div>
                    <md-button class="md-icon-button" aria-label="Move Up" ng-show="data.showExtraLeave==index">
                      <ng-md-icon icon="expand_less" style="fill: grey" size="14" ng-click="moveLeaveUp(type)"></ng-md-icon>
                      <md-tooltip>
                        Move up
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Move Down" ng-show="data.showExtraLeave==index">
                      <ng-md-icon icon="expand_more" style="fill: grey" size="14" ng-click="moveLeaveDown(type)"></ng-md-icon>
                      <md-tooltip>
                        Move down
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Edit" ng-show="data.leaveedit!=index">
                      <ng-md-icon icon="mode_edit" style="fill: green" size="14" ng-click="editLeaveType(index,type)"></ng-md-icon>
                      <md-tooltip>
                        Edit Leave Type
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.leaveedit==index">
                      <ng-md-icon icon="undo" size="14" ng-click="cancelLeaveEdit()"></ng-md-icon>
                      <md-tooltip>
                        Cancel Edit
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Save" ng-show="data.leaveedit==index">
                      <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveLeaveEdit(type)"></ng-md-icon>
                      <md-tooltip>
                        Save Edit
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" ng-show="data.leaveedit!=index">
                      <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="deleteLeaveType(type)"></ng-md-icon>
                      <md-tooltip>
                        Delete Leave Type
                      </md-tooltip>
                    </md-button>
                </div>
              </div>
            </div>
            <div class="new-item" layout="row" layout-align="center center" layout-padding>
               <input flex="70" ng-model="newLeaveType" placeholder="Enter new type">
               <div flex>
                 <md-button class="md-primary" ng-click="createLeaveType(newWorkType)">Add new</md-button>
               </div>
            </div>
          </div>
        </div>
        <div flex="65" layout-margin  layout="column">
          <div flex class="settings-box">
            <div class="header">Holidays</div>
            <div layout="row" layout-align="center center" class="table-header">
               <div flex>Date</div>
               <div flex>Holiday</div>
               <span flex></span>
               <div style="opacity:0">
                  <md-button class="md-icon-button" aria-label="Edit" ng-show="data.holidayedit!=index">
                    <ng-md-icon icon="mode_edit" style="fill: green" size="14" ng-click="editHolidayType(index,holiday)"></ng-md-icon>
                    <md-tooltip>
                      Edit Holiday
                    </md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.holidayedit==index">
                    <ng-md-icon icon="undo" size="14" ng-click="cancelHolidayEdit()"></ng-md-icon>
                    <md-tooltip>
                      Cancel Edit
                    </md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Save" ng-show="data.holidayedit==index">
                    <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveHolidayEdit(holiday)"></ng-md-icon>
                    <md-tooltip>
                      Save Edit
                    </md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Delete" ng-show="data.holidayedit!=index">
                    <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="deleteHolidayType(holiday)"></ng-md-icon>
                    <md-tooltip>
                      Delete Work Type
                    </md-tooltip>
                  </md-button>
              </div>
            </div>
            <div class="edit-list">
              <div class="edit-item" ng-repeat="(index,holiday) in localData.holidays" layout="row" layout-align="center center">
                <div flex ng-show="data.holidayedit!=index">{{holiday.date | date:'EEE, dd/MMM/yyyy'}}</div>
                <md-input-container flex ng-show="data.holidayedit==index">
                  <input ng-model="data.newHolidayDate" type="date">
                </md-input-container>
                <div flex ng-show="data.holidayedit!=index">{{holiday.description}}</div>
                <input ng-model="data.newHoliday" ng-show="data.holidayedit==index">
                <span flex></span>
                <div>
                    <md-button class="md-icon-button" aria-label="Edit" ng-show="data.holidayedit!=index">
                      <ng-md-icon icon="mode_edit" style="fill: green" size="14" ng-click="editHolidayType(index,holiday)"></ng-md-icon>
                      <md-tooltip>
                        Edit Holiday
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Cancel" ng-show="data.holidayedit==index">
                      <ng-md-icon icon="undo" size="14" ng-click="cancelHolidayEdit()"></ng-md-icon>
                      <md-tooltip>
                        Cancel Edit
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Save" ng-show="data.holidayedit==index">
                      <ng-md-icon icon="save" style="fill: green" size="14" ng-click="saveHolidayEdit(holiday)"></ng-md-icon>
                      <md-tooltip>
                        Save Edit
                      </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" ng-show="data.holidayedit!=index">
                      <ng-md-icon icon="delete" style="fill: red" size="14" ng-click="deleteHolidayType(holiday)"></ng-md-icon>
                      <md-tooltip>
                        Delete Work Type
                      </md-tooltip>
                    </md-button>
                </div>
              </div>
          </div>
          <div class="new-item" layout="row" layout-align="center center" layout-padding>
             <input ng-model="newHolidayDate" type="date" placeholder="Date" flex>
             <input flex ng-model="newHoliday" placeholder="Description">
             <div flex>
                <md-button class="md-primary" ng-click="createHoliday(newHolidayDate,newHoliday)">Add new</md-button>
             </div>
          </div>
        </div>
      </div>
  </md-content>
</div>